*.xcframework filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
Pods/mongo_embedded/iPhoneOS/Frameworks/mongo_embedded.framework/mongo_embedded filter=lfs diff=lfs merge=lfs -text
